<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Thank You</title>
		<link rel="stylesheet" href="/static/css/main.css"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css"/>
	</head>
	<body>
		<header>
		</header>
		<nav>
            <span id="title">Romeo's Registration Site</span>
		</nav>
		<main>
			<div class="container">
				<center><h1>Thank You For Registering!</h1></center>
                <div id="thumb_img_container">
                    <img src="static/images/thumbsup.jpg" alt="Thumbs Up Image"/>
                </div>
			</div>
		</main>
		<footer>
		</footer>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
		<script style="text/javascript" src="static/scripts/site.js"></script>
	</body>
</html>